// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icons material design
$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';

.page-header{
  overflow: hidden;
  background: #444;
  padding: 1em 0 0 ;
  height: 4em;
  transition:all .4s linear;
  
  .center-contents{
    max-width: 90%;
    margin:auto;
    overflow: hidden;
    
    .logo{
      max-width: 60px;
      display: block;
      float: left;
      margin: 0 0 1em 1em;
    }
  }
}

.page-nav{
  color: #fff;
  float: right;
  
  ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
 
    a{
      color: #fff;
      width: 100%;
      height: auto;
      display: block;
      padding: 0.75em 1em;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

#background_dashboard {
  background-color: transparent;
  background-image: url("../images/background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.card_image {
  position: relative;
}

.cat-image {
  position: absolute;
  width: 250px;
  height: 150px;
  top: -18em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card-content {
  margin-top: 125px;
}

.prod-image {
  width: 250px;
  height: 150px;
  margin: auto;
}

.prod-content {
  margin-top: 5px;
}

.input-cantidad {
  text-align: center;
}

.carrito-image {
  width: 100px;
  height: 75px;
  margin: auto;
}

// @media only screen and (min-width:450px){  
//   .page-nav {
//     clear: left;
//     position: relative;
//     visibility: inherit;
//     transition:visibility .4s linear;
//   }
// }